<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright 2016, The CyanogenMod Project
 * Copyright 2017-2020, The LineageOS Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="com.evervolv.toolbox"
    android:versionName="3.0"
    android:versionCode="300"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="evervolv.permission.MANAGE_REMOTE_PREFERENCES" />

    <protected-broadcast android:name="com.evervolv.toolbox.PART_CHANGED" />
    <protected-broadcast android:name="com.evervolv.toolbox.REFRESH_PART" />
    <protected-broadcast android:name="com.evervolv.toolbox.gestures.UPDATE_SETTINGS" />

    <application android:label="@string/toolbox_title"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">

        <activity android:name=".PartsActivity"
                android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.evervolv.settings.summary.receiver"
                android:value="com.evervolv.toolbox.PartsUpdater" />
        </activity>

        <!-- Advanced Display settings (Display category) -->
        <activity-alias
            android:name=".livedisplay.AdvancedDisplaySettings"
            android:label="@string/live_display_advanced_title"
            android:targetActivity="PartsActivity">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/live_display_advanced_summary" />
        </activity-alias>

        <!-- Button settings (System category) -->
        <activity-alias
            android:name=".input.ButtonSettings"
            android:label="@string/button_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="com.evervolv.toolbox.BUTTON_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.order"
                android:value="-256" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_buttons" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="true" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/summary_empty" />
        </activity-alias>

        <activity android:name=".gestures.KeyHandler" />

        <!-- Status bar settings (System category) -->
        <activity-alias
            android:name=".statusbar.StatusBarSettings"
            android:label="@string/status_bar_title"
            android:targetActivity="PartsActivity">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="com.evervolv.toolbox.STATUS_BAR_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.order"
                android:value="-254" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_statusbar" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="true" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity-alias>

        <receiver android:name=".BootReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".PartsUpdater">
            <intent-filter>
                <action android:name="evervolv.intent.action.UPDATE_PREFERENCE" />
            </intent-filter>
        </receiver>

        <provider android:name=".search.PartsSearchIndexablesProvider"
                  android:authorities="com.evervolv.toolbox"
                  android:multiprocess="false"
                  android:grantUriPermissions="true"
                  android:permission="android.permission.READ_SEARCH_INDEXABLES"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

    </application>
</manifest>
