<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evervolv.toolbox"
    android:sharedUserId="android.uid.system"
    android:versionCode="202"
    android:versionName="2.2"
    coreApp="true"
    >

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_toolbox"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:directBootAware="true">

        <activity
            android:name=".Toolbox"
            android:icon="@drawable/ic_settings_toolbox"
            android:theme="@style/Theme.EVToolbox"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                    android:value="com.android.settings.category.evervolv" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/app_summary" />
        </activity>

        <activity-alias android:name=".perf.KernelTuner"
                  android:targetActivity=".Toolbox"
                  android:icon="@drawable/ic_settings_toolbox"
                  android:theme="@style/Theme.EVToolbox"
                  android:label="@string/perf_kernel_title"
                  android:process=":toolbox"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.evervolv.toolbox.action.KERNEL_TUNER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".support.BugReport"
                  android:targetActivity=".Toolbox"
                  android:icon="@drawable/ic_settings_toolbox"
                  android:theme="@style/Theme.EVToolbox"
                  android:label="@string/settings_bugreport_title"
                  android:process=":toolbox"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.evervolv.toolbox.action.BUGREPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".system.ApplicationManager"
                  android:targetActivity=".Toolbox"
                  android:icon="@drawable/ic_settings_toolbox"
                  android:theme="@style/Theme.EVToolbox"
                  android:label="@string/system_disable_apps_title"
                  android:process=":toolbox"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.evervolv.toolbox.action.APP_MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <service android:name=".support.UploadService"
                 android:process=":UploadService">
        </service>

    </application>

</manifest>
